<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Manual Annotator</title>
        
        <style>
            div {
                padding:0;
                margin:0;
            }
            span {
                padding: 4px;
            }
            .coded_p {
                background-color: #9cf;
                color: black;
            }
            .coded_l {
                background-color: #fc9;
                color: black;
            }
            .coded_h {
                background-color: #06c;
                color: white;
            }
            .coded_p.long {
                background-color: #f55;
                color: white;
            }
            li p {
                margin: 6px 0px;
            }
        </style>
    </head>

    <body>
        <script type='text/javascript'>
            var selected_field = null;
            var queue = new Array();
            var startingState = "";
            
            var WORD_LIMIT = {{words}};
            
            window.onload = function() {
                document.getElementById('stmt').style.cursor = "default";
                startingState = document.getElementById('stmt').innerHTML;
                updateResult();
                
                updateDocument();
            }
            
            function updateDocument() {
                var spans = document.querySelectorAll("#stmt span");
                    
                for (var i = 0; i < spans.length; ++i) {
                    spans[i].addEventListener("click", function() {
                        this.parentNode.replaceChild(document.createTextNode(this.innerHTML), this);
                        updateResult();
                    });
                    
                    if (spans[i].textContent.split(/\s/).length > WORD_LIMIT) {
                        spans[i].style.backgroundColor = "#f55";
                        spans[i].style.color = "white";
                    }
                }
            }

            function select_text(e) {
                // store the span text in the queue for undo
                var html = document.getElementById('stmt').innerHTML;
                queue.push(html);
                
                // translate the key event to the key code
                var obj = window.event ? event : e;
                var unicode = obj.charCode ? obj.charCode : obj.keyCode;
                var key = String.fromCharCode(unicode).toLowerCase();
                
                // set the color code for the span.
                var color = "";
                if (key != 'h' && key != 'p' && key != 'l') {
                    return;
                }
                
                // Firefox and Safari
                if (typeof window.getSelection != "undefined") {
                    var sel = window.getSelection();
                    if (sel.rangeCount) {
                        var range = sel.getRangeAt(0);
                        
                        // select the start and end nodes to check for overlapping spans
                        var start_node = range.startContainer.parentNode;
                        var end_node = range.endContainer.parentNode;
                        
                        // if the selection extends outside the statement, then deselect
                        if (!validateContainer(start_node) || !validateContainer(end_node)) {
                            if (typeof document.selection == "undefined") {
                                sel.removeAllRanges();
                            }
                            else {
                                document.selection.empty();
                            }
                            return;
                        }
                        
                        // if not contained in existing span, then add new span container
                        if (start_node.localName == "div" && start_node == end_node) {
                            // adjust the range to fit word boundaries
                            adjustStartOffset(range);
                            adjustEndOffset(range);
                            
                            // construct the span from the range, remove embedded spans
                            var span = document.createElement("span");
                            var text = extractText(range.cloneContents());
                            var node = document.createTextNode(text);
                            span.appendChild(node);
                            span.setAttribute("class", "coded_" + key);
                            range.deleteContents();
                            range.insertNode(span);
                        }
                        else if (start_node.localName == "div") {
                            // adjust the range to fit starting word boundary
                            adjustStartOffset(range);
                            
                            // expand span to include the start node
                            range.setEndBefore(end_node);
                            end_node.insertBefore(range.cloneContents(), end_node.firstChild);
                            range.deleteContents();
                        }
                        else if (end_node.localName == "div") {
                            // adjust the range to fit end word boundary
                            adjustEndOffset(range);
                            
                            // expand span to include the end node
                            range.setStartAfter(start_node);
                            start_node.appendChild(range.cloneContents());
                            range.deleteContents();
                        }
                        else if (start_node != end_node) {
                            // join the two adjacent spans by merging contents into start span
                            var node = start_node.nextSibling;
                            while (node != null) {
                                if (node.localName == "span") {
                                    var child = node.removeChild(node.firstChild);
                                    var parent = node.parentNode;
                                    parent.removeChild(node);
                                    start_node.appendChild(child);
                                }
                                else {
                                    start_node.appendChild(node);
                                }
                                if (node == end_node) {
                                    break;
                                }
                                else {
                                    node = start_node.nextSibling;
                                }
                            }
                        }
                        else {
                            // do nothing, one outer span contains selection
                        }
                        
                        // deselect the selected text
                        if (typeof document.selection == "undefined") {
                            sel.removeAllRanges();
                        }
                        else {
                            document.selection.empty();
                        }
                    }
                }
                // Internet Explorer
                else if (typeof document.selection != "undefined") {
                    if (document.selection.type == "Text") {
                        var range = document.selection.createRange();
                        var text = range.text;
                        
                        // span the text and remove duplicates
                        var span = formatSpan(text, key);
                        range.pasteHTML(span);
                        
                        // deselect the selected text
                        document.selection.empty();
                    }
                }
                
                // clean up and save the markup
                updateResult();
                updateDocument();
            }

            function validateContainer(node) {
                while (node != null) {
                    if (node.id == "stmt") {
                        return true;
                    }
                    node = node.parentNode;
                }
                return false;
            }

            function adjustStartOffset(range) {
                var text = range.startContainer.data;
                var i = range.startOffset;
                
                // if in a word, move the start offset backwards
                if (text.charAt(i).match(/\S/)) {
                    while (i >= 0 && text.charAt(i).match(/\S/)) {
                        i--;
                    }
                    i++; // advance to start of first character
                }
                else {
                    // if in a space, move the start offset forwards
                    while (i < text.length - 1 && text.charAt(i).match(/\s/)) {
                        i++;
                    }
                }
                // sanity check the bounds
                if (i > text.length) { i = text.length; }
                if (i < 0) { i = 0; }
                
                if (i != range.startOffset) {
                    range.setStart(range.startContainer, i);
                }
            }

            function adjustEndOffset(range) {
                var text = range.endContainer.data;
                var i = range.endOffset;
                
                // if in a word, move the end offset forwards
                if (text.charAt(i).match(/\S/)) {
                    while (i < text.length - 1 && text.charAt(i).match(/\S/)) {
                        i++;
                    }
                }
                else {
                    // if in a space, move the end offset backwards
                    while (i > 0 && text.charAt(i).match(/\s/)) {
                        i--;
                    }
                    i++;
                }
                // sanity check the bounds
                if (i > text.length) { i = text.length; }
                if (i < 0) { i = 0; }

                if (i != range.endOffset) {
                    range.setEnd(range.endContainer, i);
                }
            }

            function extractText(frag) {
                // walk the fragment tree and select text nodes
                var node, text = "";
                var walk = document.createTreeWalker(frag, NodeFilter.SHOW_TEXT, null, false);
                while (node = walk.nextNode()) {
                    text += " " + node.data;
                }
                return text.trim();
            }

            function formatSpan(text, key) {
                var span_o ='<span class="coded_' + key + '">';
                var span_c = '<\/span>';
                var regex = /(<([^>]+)>)/ig;

                var clean = text.replace(regex, "");
                var diff = (text.length - clean.length) % (span_o.length + span_c.length);
                
                if (diff == 0) {
                    return span_o + clean + span_c;
                }
                else if (diff == span_o.length) {
                    return span_o + clean;
                }
                else if (diff == spac_c.length) {
                    return clean + span_c;
                }
                return clean;
            }

            function resetTask() {
                document.getElementById('stmt').innerHTML = startingState;
                updateResult();
                updateDocument();
            }

            function updateResult() {
                var result = document.getElementById('stmt').innerHTML;
                document.getElementById('result').value = result.replace(/\s*style="[^"]*?"\s*/, "").replace(/\<br ?\?>/, "");
            }

        </script>
            
        <form method="post">
            {{!help}}

            <div style="background-color: #eee; padding: 10px; border: 1px solid #ccc; height: 400px; overflow: scroll;" id="stmt" onkeypress="select_text(event)" tabindex="1">{{!text}}</div>
            
            <p style="text-align: right">
                <input onclick="resetTask()" type="button" value="Reset Task">
                <input id="submitButton" type="submit" value="Submit Task">
            </p>
            
            <input id="result" name="result" type="hidden" value="">
            <input name="file" type="hidden" value="{{file}}">
        </form>
    </body>
</html>
