<p>
    <strong>Instructions</strong>: If a section label is incorrect or if a paragraph is too long, click to delete it. Then, select the text with your cursor and press one of the following keys to relabel it:
</p>

<ul>
    <li>
        <p>Press H for <span class="coded_h">header</span> &dash; any header or sub-header.</p>
    </li>
    <li>
        <p>Press L for <span class="coded_l">list item</span> &ndash; short item of a bulleted or numbered text, especially an incomplete or single sentence.</p>
    </li>
    <li>
        <p>Press P for <span class="coded_p">paragraph</span> &ndash; body paragraph text, including complete paragraphs within list items.</p>
        <ul><li>
            <p><span class="coded_p long">long paragraphs</span> over {{words}} words turn red, indicating that they need to be split manually.</p>
        </li></ul>
    </li>
</ul>
